<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h1></h1>
      <nav>
        <ul>
          <li></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% comment %} este bloque es para agregar el contenido de la pagina {% endcomment %}
      {% endblock content %}
    </main>

    <footer>
      <p>&copy; 2025 </p>
    </footer>

  </body>
</html>
