{% extends "base.html" %}
{% block title %}Detalle Libro Mayor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-dark">Detalle Libro Mayor</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ID: {{ libro.id }}</h5>
            <p class="card-text"><strong>Cuenta:</strong> {{ libro.cuenta }}</p>
            <p class="card-text"><strong>Saldo Anterior:</strong> {{ libro.saldo_anterior }}</p>
            <p class="card-text"><strong>Movimiento:</strong> {{ libro.movimiento }}</p>
            <p class="card-text"><strong>Saldo Final:</strong> {{ libro.saldo_final }}</p>
            <p class="card-text"><strong>Tipo Movimiento:</strong> {{ libro.tipo_movimiento }}</p>
            
            <a href="{% url 'libros:libros_list' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
{% endblock %}